.main-nav {
  position: relative;
}

.main-nav__mobile-title {
  position: relative;
  
  width: 100%;
  height: 50px;
  margin: 0;
  padding-top: 12px;
  
  
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  
  background-color: #826550;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  
  width: 70px;
  height: 50px;
  
  font-size: 0;
  
  background-color: #6a4d38;
  border: none;
  
  &:active {
    background-color: #624530;
  }
  
  &::after {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 36px;
    height: 19px;
    margin-top: -10px;
    margin-left: -18px;
    
    background-image: url(../../img/menu-icon.svg);
  }
  
  &:active::after {
    opacity: 0.3;
  }
}

.main-nav__toggle--opened {
  left: 0;
  
  &:active {
    background-color: #624530;
  }
  
  &::after {
    width: 26px;
    height: 25px;
    margin-top: -13px;
    margin-left: -13px;
    
    background-image: url(../../img/cross-icon.svg);
  }
  
  &:active::after {
    opacity: 0.3;
  }
}

.main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 70px;
  
  display: none;
  
  &--no-js {
    position: relative;
    top: -50px;
    left: 0;
    
    margin-bottom: -50px;
  }
}

@media (min-width: 680px) {
  .main-nav {
    background-color: #000000;
  }
  
  .main-nav__mobile-title {
    display: none;
  }
  
  .main-nav__toggle {
    display: none;
  }
  
  .main-nav__wrapper {
    position: static;
    
    display: flex;
    width: 640px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .main-nav__wrapper {
    width: 960px;
  }
}