.work-list {
  @include no-list;

  width: 280px;
  margin: 0 auto;
  padding-bottom: 1px;
}

.work-list__item {
  position: relative;

  margin-bottom: 20px;

  border: 1px solid #e5ddd5;
}

.work-list__photo-wrapper {
  position: relative;
  top: -1px;
  left: -1px;

  width: 280px;

  overflow: hidden;
}

.work-list__item--2 .work-list__photo-wrapper,
.work-list__item--3 .work-list__photo-wrapper,
.work-list__item--4 .work-list__photo-wrapper {
  height: 176px;
}

.work-list__photo {
  position: relative;
}

.work-list__item--1 .work-list__photo {
  left: -200px;
}

.work-list__best-photo {
  @include main-font(20px, 27px, 700, uppercase, #ffffff);

  position: absolute;
  bottom: 290px;
  left: 0;

  width: 176px;
  height: 50px;
  padding-left: 24px;
  padding-top: 12px;

  background-image: url(../img/label.svg);
}

.work-list__client {
  @include main-font(24px, 27px, 700, none, #000000);

  margin: 20px;
}

.work-list__review {
  @include main-font(18px, 27px, 400, none, #000000);

  margin: 20px;

  & br {
    display: none;
  }
}

.work-list__services {
  @include no-list;

  display: flex;
  flex-wrap: wrap;
}

.work-list__service {
  @include main-font(16px, 27px, 400, uppercase, #000000);

  position: relative;

  margin-bottom: 15px;
  padding-right: 35px;

  &::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 0;

    width: 21px;
    height: 20px;

    background-image: url(../img/scissors-icon.svg);
    background-repeat: no-repeat;
  }

  &--haircut {
    margin-left: 20px;
    padding-left: 35px;
    padding-right: 15px;
  }

  &--beard {
    margin-left: 20px;
    padding-left: 45px;
    
    &::after {
      width: 23px;
      height: 21px;

      background-image: url(../img/beard-icon.svg);
    }
  }

  &--mustache {
    margin-left: 10px;
    padding-left: 60px;

    &::after {
      top: 8px;

      width: 45px;
      height: 12px;

      background-image: url(../img/mustache-icon.svg);
    }
  }
}

@media (min-width: 680px) {
  .work-list {
    width: 640px;
  }

  .work-list__item {
    position: relative;

    height: 480px;
    margin-bottom: 40px;

    &--2,
    &--3,
    &--4 {
      height: 294px;
    }
  }

  .work-list__photo-wrapper {
    float: left;

    width: 270px;
    height: 480px;
    margin-right: 50px;
  }

  .work-list__item--2 .work-list__photo-wrapper,
  .work-list__item--3 .work-list__photo-wrapper,
  .work-list__item--4 .work-list__photo-wrapper {
    height: 294px;
  }

  .work-list__item--1 .work-list__photo {
    left: -210px;
  }

  .work-list__best-photo {
    bottom: 375px;
    left: -3px;
  }
  
  .work-list__services {
    position: absolute;
    bottom: 20px;
    left: 310px;
  }
}

@media (min-width: 1000px) {
  .work-list {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
  }

  .work-list__item {
    width: 960px;

    &--2,
    &--3 {
      margin-right: 39px;
    }

    &--2,
    &--3,
    &--4 {
      width: 294px;
      height: 541px;
    }
  }

  .work-list__photo-wrapper {
    width: 480px;
    height: 480px;
    margin-right: 50px;
  }

  .work-list__item--2 .work-list__photo-wrapper,
  .work-list__item--3 .work-list__photo-wrapper,
  .work-list__item--4 .work-list__photo-wrapper {
    width: 294px;
    height: 314px;
  }

  .work-list__item--1 .work-list__photo {
    left: 0;
  }

  .work-list__best-photo {
    bottom: 375px;
    left: 785px;

    background-image: url(../img/label-right.svg);
  }

  .work-list__client {
    margin: 25px 30px;
  }

  .work-list__review {
    margin: 25px 30px;

    & br {
      display: inline-block;
    }
  }

  .work-list__services {
    left: 510px;
  }

  .work-list__item--2 .work-list__services,
  .work-list__item--3 .work-list__services,
  .work-list__item--4 .work-list__services {
    left: 7px;
  }
}